* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: var(--ltgray);
}

:root {
  --white: hsl(0, 0%, 100%);
  --ltgray: hsl(212, 45%, 89%);
  --grayblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);

}

.container {
  max-width: 360px;
  margin: 0 auto;
}

.card {
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  margin: 0 1em;
  padding: 18px;
}

.card img {
  width: 100%;
  border-radius: 17px;
}

.text {
  padding: 22px 10px;
}

.text h2 {
  padding-bottom: 15px;
  color: var(--darkblue)
}

.text p {
  color: var(--grayblue);
}